@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(155deg, #1dc48f, #113f6c);
}

.formSelection {
  margin-right: 20px;
  width: 20vh;
  height: 50vh;
  padding: 10px;
  border-radius: 24px;
  color: whitesmoke;
  background-color: #414a62;
  box-shadow: 0 2px 15px black;
}

.dividerSelection {
  background-color: #6dfe8f;
  border-color: none;
  border-radius: 25px;
  height: 10px;
}

.listScroll {
  overflow-x: hidden;
  max-height: 37vh;
}

.listScroll::-webkit-scrollbar {
  display: none;
}